/* GENERAL RULES */
* {
  box-sizing: border-box;
}

.app {
  background-color: #f8fafd;
}

img {
  max-width: 100%;
}

.app .h4, 
.app h4 {
  font-size: 1.7rem;
}

.app .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.app .list-group-item:last-child {
  border-bottom: 1px solid #C7C7C7;
}

.app .list-group-item {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: #f8fafd;
  border: none;
  border-top: 1px solid #C7C7C7;
}
/* TOP NAVBAR RULES */

.navbar.custom {
  padding: 0;
  height: 60px;
  border-bottom: 1px solid #F4F4F4;
  background-color: #fff;
}

.navbar .right {
  box-shadow: 5px 1px 10px 0px rgba(0,0,0,0.08);
}

.navbar-brand.custom {
  margin: 0;
  padding: 1rem;
  width: 200px;
  text-align: center;
  border-right: 1px solid #F4F4F4;
  border-bottom: 1px solid #F4F4F4;
  font-weight: bold;
  font-size: 20px;
  height: inherit;
  color: #2F80ED;
}

.navbar-collapse.right {
  justify-content: flex-end;
  padding: 0 20px;
  height: inherit;
}

.navbar-nav {
  height: inherit;
}

.navbar-nav li {
  padding: 10px 20px;
}

.navbar-nav li span {
  color: #2e2e2e;
}

.navbar-nav li span span {
  color: #2F80ED;
  font-weight: bold;
}

.dropdown.custom,
.bell {
  border-left: 1px solid #F4F4F4;
}

.bell img {
  padding-top: 8px; /* temporary solution */
}

/* SIDEBAR RULES */

.sidebar {
  background-color: #fff;
  height: 100vh; /* temporary solution */
  padding: 0;
  border-right: 1px solid #F4F4F4;
  width: 200px;
}

.sidebar .user-info {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #F4F4F4;
}

.sidebar .user-info span.name,
.sidebar .user-info span.role {
  width: 100%;
  float: left;
  padding-left: 15px;
}

.sidebar .user-info span.name {
  font-weight: 500;
}

.sidebar-link {
  padding: 20px 0;
}

.sidebar-link a {
  color: #2e2e2e;
  font-weight: 500;
  padding: 5px 0 5px 20px;
}

.sidebar-link a.active {
  color: #2F80ED;
  border-left: 3px solid #2F80ED;
  padding: 5px 0 5px 17px;
}

.sidebar-link a svg {
  margin-right: 10px;
  vertical-align: sub;
}

.sidebar-link a.active svg path {
  stroke: #2F80ED;
}

/* GENERAL SCREEN RULES */ 
.screen {
  padding: 20px 50px;
}

.screen .top-filter {
  width: 100%;
  overflow: auto;
}

.screen h2 {
  font-weight: bolder;
  width: 50%;
  float: left;
  margin: 0;
  padding: 6px 0;
}

.filter-buttons.btn-group {
  float: right;
  justify-content: space-between;
  padding: 10px 0;
}

.filter-buttons.btn-group .btn {
  margin: 0 10px;
  padding: 3px 15px;
  border-radius: 3px;
  background-color: #C7C7C7;
  border: none;
  font-weight: 500;
}

/* btn-group override */ 
.filter-buttons.btn-group>.btn-group:not(:last-child)>.btn, 
.filter-buttons.btn-group>.btn:not(:last-child):not(.dropdown-toggle),
.filter-buttons.btn-group>.btn-group:not(:first-child)>.btn, 
.filter-buttons.btn-group>.btn:not(:first-child) {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.filter-buttons .btn-secondary:not(:disabled):not(.disabled).active, 
.filter-buttons .btn-secondary:not(:disabled):not(.disabled):active, 
.filter-buttons .show>.btn-secondary.dropdown-toggle {
  background-color: #2F80ED;
}

.filter-buttons .btn-secondary.focus, 
.filter-buttons .btn-secondary:focus,
.filter-buttons .btn-secondary:not(:disabled):not(.disabled).active:focus, 
.filter-buttons .btn-secondary:not(:disabled):not(.disabled):active:focus, 
.filter-buttons .show>.btn-secondary.dropdown-toggle:focus {
  box-shadow: none;
}

/* CASHFLOW SCREEN RULES */

/* CATEGORY MANAGEMENT SCREEN RULES */ 
.categories-management {
  padding-top: 5rem;
}

.category {
  padding-bottom: 2rem;
}

.category-title {
  display: inline-flex;
  margin: 0;
  padding: 0;
  align-items: center;
  cursor: pointer;
}
